body {
    background-color: rgb(65, 153, 225)05, 223);
}

header {
    padding: 20px;
    background-color: rgb(39, 58, 112);
}

h1 {
    color: #fff;
    font-size: 36px;
}

h3 {
    color: #c57373;
    font-size: 28px;
}

img {
    height: 300px;
}

p {
    color: #970000;
    font-size: 18px;
}